#col-left,
#col-right {
  position: fixed;
  top: 0;
  height: 100%;
  overflow: auto;
}

#col-left {
  left: 0;
  width: 35%;
  background-color: #1d1d1d;
}

#col-right {
  margin-top: 10vh;
  right: 0;
  width: 65%;
}

#video {
  margin: 0%;
  padding: 0;
  background-color: #1d1d1d;
  width: 100%;
}
canvas {
  position: absolute;
}
.datos-canvas {
  margin-top: 15px;
  color: bisque;
  padding-left: 20px;
}
